### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# get the number of players using len function and store results into a dataframe
No_of_Players = len(purchase_data["SN"].unique())
No_of_Players_df = pd.DataFrame({"Total Players": [No_of_Players]})

In [3]:
# display result
No_of_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# calculate for the number of unique items
No_of_Unique_Items = len(purchase_data["Item Name"].unique())
# calculate for the average price
Average_Price = purchase_data["Price"].mean()
# count the number of purchases 
No_of_Purchases = len(purchase_data)
# calculate for the total revenue
Total_Revenue = purchase_data["Price"].sum()

In [5]:
# create a dataframe that will contain the summary details and format currency-type values
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [No_of_Unique_Items],
                                     "Average Price": "${0:,.2f}".format(Average_Price),
                                     "Number of Purchases": No_of_Purchases,
                                     "Total Revenue": "${0:,.2f}".format(Total_Revenue)})

In [6]:
# set column values to be left-justified
Purchasing_Analysis_df = Purchasing_Analysis_df.style.set_properties(**{'text-align': 'left'})
Purchasing_Analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# create a dataframe containing SN & Gender columns
Unique_Players_df = purchase_data[["SN","Gender"]]
# drop duplicates to obtain unique set of players
Unique_Players_df = Unique_Players_df.drop_duplicates(keep='last')

In [8]:
# calculate for the total number by gender 
Gender_df = pd.DataFrame(Unique_Players_df["Gender"].value_counts())
# rename column to apply the correct label
Gender_df = Gender_df.rename(columns={"Gender":"Total Count"})

In [9]:
# compute for the percentage of players and add that column to the existing dataframe
Gender_df["Percentage of Players"] = (Gender_df["Total Count"]/Unique_Players_df["Gender"].count()*100).map("{:.2f}%".format)

In [10]:
# set column values to be left-justified
Gender_df = Gender_df.style.set_properties(**{'text-align': 'left'})
Gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# create a new dataframe with SN, Gender & Price columns
Purchase_df = purchase_data[["SN","Gender","Price"]]

In [12]:
# calculate the total purchase by Gender
ByGender_Purchase = Purchase_df.groupby("Gender")
Total_Purchase_per_Gender = pd.DataFrame(ByGender_Purchase["Price"].sum())
Total_Purchase_per_Gender = Total_Purchase_per_Gender.reset_index(drop=False)

In [13]:
# calcualte for the average purchase by Gender
Average_per_Gender = pd.DataFrame(ByGender_Purchase["Price"].mean())
Average_per_Gender = Average_per_Gender.reset_index(drop=False)

In [14]:
# calcualte for the total number of purchases by Gender
Purchase_Count_per_Gender = pd.DataFrame(ByGender_Purchase["Price"].count())
Purchase_Count_per_Gender = Purchase_Count_per_Gender.reset_index(drop=False)

In [15]:
# merge the 3 dataframes on Gender column
By_Gender_df = pd.merge(Purchase_Count_per_Gender,Average_per_Gender,on="Gender")
By_Gender_df = pd.merge(By_Gender_df,Total_Purchase_per_Gender, on="Gender")

In [16]:
# rename the column labels to correspond to the content
By_Gender_df = By_Gender_df.rename(columns={"Price_x":"Purchase Count",
                                            "Price_y":"Average Purchase Price",
                                            "Price":"Total Purchase Value"})

In [17]:
# calcuate for the total purchase by person
ByPerson_Purchase = Purchase_df.groupby("SN")
Total_per_Person_df = pd.DataFrame(ByPerson_Purchase["Price"].sum())

In [18]:
# obtain the gender of each person by merging with Total_per_Person_df to the Unique_Players_df
Total_per_Person_df = pd.merge(Total_per_Person_df,Unique_Players_df, on="SN")

In [19]:
# drop SN column to be able to average the total purchase price per person by gender
Dropped_SN = Total_per_Person_df.drop(columns="SN")

In [20]:
# calculate for the average total purchase price
Average_by_Gender = Dropped_SN.groupby("Gender")
ByPerson_ByGender_Average = pd.DataFrame(Average_by_Gender["Price"].mean())
ByPerson_ByGender_Average = ByPerson_ByGender_Average.reset_index(drop=False)

In [21]:
# rename the column label correspondingly
ByPerson_ByGender_Average = ByPerson_ByGender_Average.rename(columns={"Price":"Avg Total Purchase per Person"})

In [22]:
# merge ByPerson_ByGender_Average and By_Gender_df on Gender column 
Gender_Summary_df = pd.merge(By_Gender_df,ByPerson_ByGender_Average, on="Gender")

In [23]:
# set Gender as index
Gender_Summary_df = Gender_Summary_df.set_index("Gender")

In [24]:
# format currency-type values
Gender_Summary_df["Average Purchase Price"] = Gender_Summary_df["Average Purchase Price"].map("${:,.2f}".format)
Gender_Summary_df["Total Purchase Value"] = Gender_Summary_df["Total Purchase Value"].map("${:,.2f}".format)
Gender_Summary_df["Avg Total Purchase per Person"] = Gender_Summary_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [25]:
# set column values to be left-justified
Gender_Summary_df = Gender_Summary_df.style.set_properties(**{'text-align': 'left'})
Gender_Summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
# create a dataframe from the main data keeping only SN and Age columns
Unique_Players_With_Age_df = purchase_data[["SN","Age"]]
# drop duplicates to obtain unique players
Unique_Players_With_Age_df = Unique_Players_With_Age_df.drop_duplicates(keep='last')

In [27]:
# calculate the number of players by age and store into a new dataframe
Players_df = pd.DataFrame(Unique_Players_With_Age_df["Age"].value_counts())
Players_df = Players_df.reset_index(drop=False)

In [28]:
# rename columns accordingly
Players_df = Players_df.rename(columns={"index":"Age","Age":"Total Count"})

In [29]:
# create bins for player ages and corresponding age group labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
age_groups = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [30]:
# add a new column to categorize players' ages
Players_df["Age Category"] = pd.DataFrame(pd.cut(Players_df["Age"], bins, labels=age_groups, include_lowest=True))

In [31]:
# sort data by age to make the Age Category column sort accordingly
Players_df = Players_df.sort_values(["Age"])
Players_df = Players_df.reset_index(drop=True)

In [32]:
# calculate for the sum of Total Count per Age Category
Age_Category = Players_df.groupby(["Age Category"])
Age_Category_df = pd.DataFrame(Age_Category["Total Count"].sum())
Age_Category_df.index.name = None

In [33]:
# calculate for the percentage and add to the existing dataframe
Age_Category_df["Percentage of Players"] = (Age_Category_df["Total Count"]/Players_df["Total Count"].sum()*100)

In [34]:
# format the percent column values into percentage format
Age_Category_df["Percentage of Players"] = Age_Category_df["Percentage of Players"].map("{:.2f}%".format)

In [35]:
# format column values as left-justified
Age_Category_df = Age_Category_df.style.set_properties(**{'text-align': 'left'})
Age_Category_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# create a dataframe with SN, Age & Price columns
Player_Purchases_df = purchase_data[["SN","Age","Price"]]

In [37]:
# START of PURCHASE COUNT column computation

# calculate the total number of purchases per Age and store into a new dataframe
Player_Purchase_Count_df = pd.DataFrame(Player_Purchases_df["Age"].value_counts())
Player_Purchase_Count_df = Player_Purchase_Count_df.reset_index(drop=False)

In [38]:
# rename the columns accordingly
Player_Purchase_Count_df = Player_Purchase_Count_df.rename(columns={"index":"Age","Age":"Total Count"})

In [39]:
# use existing bins to categorize by age
Player_Purchase_Count_df["Age Category"] = pd.cut(Player_Purchase_Count_df["Age"], bins, labels=age_groups, include_lowest=True)

In [40]:
# drop Age column
Player_Purchase_Count_df = Player_Purchase_Count_df.drop(columns="Age")

In [41]:
# calculate the total number of purchases per Age Category
Player_Purchase_Total_Ct = Player_Purchase_Count_df.groupby(["Age Category"])
Player_Purchase_Total_Ct_df = pd.DataFrame(Player_Purchase_Total_Ct["Total Count"].sum())

# END of PURCHASE COUNT column computation

In [42]:
# START of AVERAGE PURCHASE PRICE column computation

# create a dataframe with Age and Price columns
By_Age_Average_df = Player_Purchases_df.loc[:,["Age", "Price"]]

In [43]:
# use existing bins to categorize by age
By_Age_Average_df["Age Category"] = pd.DataFrame(pd.cut(By_Age_Average_df["Age"], bins, labels=age_groups, include_lowest=True))

In [44]:
# drop Age column
By_Age_Average_df = By_Age_Average_df.drop(columns="Age")

In [45]:
# calculate for the average purchase per Age Category
By_Age_Summary = By_Age_Average_df.groupby(["Age Category"])
By_Age_Summary_df = pd.DataFrame(By_Age_Summary["Price"].mean())
By_Age_Summary_df = By_Age_Summary_df.reset_index(drop=False)

# END of AVERAGE PURCHASE PRICE column computation

In [46]:
# START of TOTAL PURCHASE PRICE column computation

# calculate for the total purchase price by Age
By_Age_Purchase = Player_Purchases_df.groupby(["Age"])
By_Age_Sum_df = pd.DataFrame(By_Age_Purchase["Price"].sum())
By_Age_Sum_df = By_Age_Sum_df.reset_index(drop=False)

In [47]:
# use existing bins to categorize by age
By_Age_Sum_df["Age Category"] = pd.DataFrame(pd.cut(By_Age_Sum_df["Age"], bins, labels=age_groups, include_lowest=True))

In [48]:
# drop the Age column
By_Age_Sum_df = By_Age_Sum_df.drop(columns="Age")

In [49]:
# calculate for the total purchase price by Age Category
By_Age = By_Age_Sum_df.groupby(["Age Category"])
By_Age_Category_Total_df = pd.DataFrame(By_Age["Price"].sum())
By_Age_Category_Total_df = By_Age_Category_Total_df.reset_index(drop=False)

# END of TOTAL PURCHASE PRICE column computation

In [50]:
# START of AVERAGE TOTAL PURCHASE PER PERSON column computation

# calculate for the total purchase per player
Per_Player_Average = Player_Purchases_df.groupby(["SN"])
Per_Player_Average_df = pd.DataFrame(Per_Player_Average["Price"].sum())
Per_Player_Average_df = Per_Player_Average_df.reset_index(drop=False)

In [51]:
# rename columns accordingly
Per_Player_Average_df = Per_Player_Average_df.rename(columns={"Price":"Total per Player"})

In [52]:
# create a new dataframe containing unique player names and age
Player_Age_df = purchase_data[["SN","Age"]]
Player_Age_df = Player_Age_df.drop_duplicates(keep='last')

In [53]:
# merge Per_Player_Average_df and Player_Age_df to obtain the age for categorization
Average_By_Age_df = pd.merge(Per_Player_Average_df,Player_Age_df,on="SN")

In [54]:
# drop the SN column
Average_By_Age_df = Average_By_Age_df.drop(columns="SN")

In [55]:
# use existing bins to categorize by age
Average_By_Age_df["Age Category"] = pd.cut(Average_By_Age_df["Age"], bins, labels=age_groups, include_lowest=True)

In [56]:
# calculate for the average per Age Category
Average_By_Age = Average_By_Age_df.groupby(["Age Category"])
Average_By_Age_df = pd.DataFrame(Average_By_Age["Total per Player"].mean())
Average_By_Age_df = Average_By_Age_df.reset_index(drop=False)
Average_By_Age_df

# END of AVERAGE TOTAL PURCHASE PER PERSON column computation

  Age Category  Total per Player
0          <10          4.537059
1        10-14          3.762727
2        15-19          3.858785
3        20-24          4.318062
4        25-29          3.805195
5        30-34          4.115385
6        35-39          4.763548
7          40+          3.186667

In [57]:
# merge the data frames for analysis summary 
Merge_Col1_Col2_df = pd.merge(Player_Purchase_Total_Ct_df,By_Age_Summary_df,on="Age Category")
Merge_Col3_Col4_df = pd.merge(By_Age_Category_Total_df,Average_By_Age_df,on="Age Category")
Puchasing_Analysis_df = pd.merge(Merge_Col1_Col2_df,Merge_Col3_Col4_df,on="Age Category")

In [58]:
# rename summary column headers accordingly
Puchasing_Analysis_df = Puchasing_Analysis_df.rename(columns={"Age Category":"Age Ranges",
                                                              "Total Count":"Purchase Count",
                                                              "Price_x":"Average Purchase Price",
                                                              "Price_y":"Total Purchase Value",
                                                              "Total per Player":"Avg Total Purchase per Person"})

In [59]:
# set Age Ranges as index
Puchasing_Analysis_df = Puchasing_Analysis_df.set_index("Age Ranges")

In [60]:
# using map function, format numeric values into currency for analysis reporting
Puchasing_Analysis_df["Average Purchase Price"] = Puchasing_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Puchasing_Analysis_df["Total Purchase Value"] = Puchasing_Analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Puchasing_Analysis_df["Avg Total Purchase per Person"] = Puchasing_Analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [61]:
# format column values as left-justified
Puchasing_Analysis_df = Puchasing_Analysis_df.style.set_properties(**{'text-align': 'left'})
Puchasing_Analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
# create a dataframe with SN & Price columns
Top_Player_Purchases_df = purchase_data[["SN","Price"]]

In [63]:
# calculate for the total spending by player
Top_Spender = Top_Player_Purchases_df.groupby(["SN"])
Top_Spender_df = pd.DataFrame(Top_Spender["Price"].sum())

In [64]:
# calculate the average purchase per player
Top_Spender_Ave_df = pd.DataFrame(Top_Spender["Price"].mean())

In [65]:
# compute for the total number of purchases per player
Top_Spender_Count_df = pd.DataFrame(Top_Spender["Price"].count())
Top_Spender_Count_df = Top_Spender_Count_df.sort_values("Price",ascending=False)

In [66]:
# merge the 3 dataframes for top spender summary analysis
Top_Spender_Details_df = pd.merge(Top_Spender_Count_df,pd.merge(Top_Spender_Ave_df,Top_Spender_df,on="SN"),on="SN")

In [67]:
# rename columns accordingly
Top_Spender_Details_df = Top_Spender_Details_df.rename(columns={"Price":"Purchase Count",
                                                                "Price_x":"Average Purchase Price",
                                                                "Price_y":"Total Purchase Value"})

In [68]:
# sort spending data by top purchase value in descending order 
Top_Spender_Details_df = Top_Spender_Details_df.sort_values("Total Purchase Value",ascending=False)
# get the top 5 players based on total purchase
Top_Spender_Summary_df = Top_Spender_Details_df.iloc[0:5,:]

In [69]:
# using map function, format numeric values into currency for analysis reporting
Top_Spender_Summary_df["Average Purchase Price"] = Top_Spender_Summary_df["Average Purchase Price"].map("${:,.2f}".format)
Top_Spender_Summary_df["Total Purchase Value"] = Top_Spender_Summary_df["Total Purchase Value"].map("${:,.2f}".format)

C:\Users\Mama\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Mama\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
# align column values to the left
Top_Spender_Summary_df = Top_Spender_Summary_df.style.set_properties(**{'text-align': 'left'})
Top_Spender_Summary_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [142]:
# create a dataframe with Item ID & Item Name columns
Item_Purchases_df = purchase_data[["Item ID","Item Name","Price"]]

In [143]:
# calculate how many purchases were made for each item
Item_Purchase_Count_df = pd.DataFrame(Item_Purchases_df["Item ID"].value_counts())
Item_Purchase_Count_df = Item_Purchase_Count_df.reset_index(drop=False)

In [144]:
# rename columns accordingly
Item_Purchase_Count_df = Item_Purchase_Count_df.rename(columns={"index":"Item ID","Item ID":"Purchase Count"})

In [145]:
# create a new dataframe that will have Item ID & Item Name columns only
Items_List_df = Item_Purchases_df[["Item ID","Item Name"]]
Items_List_df = Items_List_df.drop_duplicates(keep='last')

In [146]:
# create a new dataframe that will have Item ID & Price columns only
Item_Price_df = Item_Purchases_df[["Item ID","Price"]]

In [147]:
# calculate for the average price per Item (some items have different unit price)
Item_Price_Ave = Item_Price_df.groupby(["Item ID"])
Item_Price_Ave_df = pd.DataFrame(Item_Price_Ave["Price"].mean())
Item_Price_Ave_df = Item_Price_Ave_df.reset_index(drop=False)

In [148]:
# rename columns accordingly
Item_Price_Ave_df = Item_Price_Ave_df.rename(columns={"Price":"Item Price"})

In [149]:
# calculate for the total purchase per Item
Item_Total_df = pd.DataFrame(Item_Price_Ave["Price"].sum())
Item_Total_df = Item_Total_df.reset_index(drop=False)

In [150]:
# rename columns accordingly
Item_Total_df = Item_Total_df.rename(columns={"Price":"Total Purchase Value"})

In [151]:
# merge dataframes to combine data for analysis summary
Items_merge1_df = pd.merge(Items_List_df,Item_Purchase_Count_df,on="Item ID")
Items_merge2_df = pd.merge(Item_Price_Ave_df,Item_Total_df,on="Item ID")
Items_Purchase_Details_df = pd.merge(Items_merge1_df,Items_merge2_df,on="Item ID")

In [152]:
# sort in descending order to get the top-most purchased Item 
Items_Purchase_Count_Summary_df = Items_Purchase_Details_df.sort_values("Purchase Count",ascending=False)
# get the top 5 from the list
Items_Purchase_Count_Summary_df = Items_Purchase_Count_Summary_df.iloc[0:5,:]

In [154]:
# using map function, format numeric values into currency for analysis reporting
Items_Purchase_Count_Summary_df["Item Price"] = Items_Purchase_Count_Summary_df["Item Price"].map("${:,.2f}".format)
Items_Purchase_Count_Summary_df["Total Purchase Value"] = Items_Purchase_Count_Summary_df["Total Purchase Value"].map("${:,.2f}".format)

In [155]:
# set Item ID and Item Name as index
Items_Purchase_Count_Summary_df = Items_Purchase_Count_Summary_df.set_index("Item ID","Item Name")

In [156]:
# align values to the left
Items_Purchase_Count_Summary_df = Items_Purchase_Count_Summary_df.style.set_properties(**{'text-align': 'left'})
Items_Purchase_Count_Summary_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [157]:
# sort in descending order to get the top-most total purchased value
Items_Purchase_Value_Summary_df = Items_Purchase_Details_df.sort_values("Total Purchase Value",ascending=False)
# get the top 5 from the list
Items_Purchase_Value_Summary_df = Items_Purchase_Value_Summary_df.iloc[0:5,:]

In [158]:
# using map function, format numeric values into currency for analysis reporting
Items_Purchase_Value_Summary_df["Item Price"] = Items_Purchase_Value_Summary_df["Item Price"].map("${:,.2f}".format)
Items_Purchase_Value_Summary_df["Total Purchase Value"] = Items_Purchase_Value_Summary_df["Total Purchase Value"].map("${:,.2f}".format)

In [159]:
# align values to the left
Items_Purchase_Value_Summary_df = Items_Purchase_Value_Summary_df.style.set_properties(**{'text-align': 'left'})
Items_Purchase_Value_Summary_df

# Observable Trends

1. A huge percentage of games are male (84%!). Female gamers are only at 14%.  
2. Almost 50% of gamers are young adults, followed by high school age which is about 20%.
3. Top spenders are young male adults. It follows that the topmost popular items are purchased mostly by this group.